.detail-header {
  text-align: center;
  padding: 5rem 0 3rem 0;
  border-radius: 0 0 200px 200PX;
  height: 230px;
}

.detail-image {
  position: absolute;
  transform: translateX(-50%);
  min-width: 200px;
  height: 200px;
  z-index: 10;
}

.back-button {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 24px;
  color: white;
  z-index: 3;
  cursor: pointer;
  transition: transform 0.2s ease;

  span {
    font-size: 16px;
  }
}

.heart-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 20px;
  color: white;
  z-index: 3;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.pokemon-id {
  padding: 4rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;

  span {
    font-size: 32px;
    font-weight: 600;
    height: 28px;
  }

  p {
    font-size: 14px;
  }
}

.pokemon-types {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.type-badge {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 8px;
}

.type-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.info-card {
  padding: 0;
  margin: 0 0 1rem 0;
  border-radius: 0;
  box-shadow: none;
}

.desc-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5px;
  margin: 1rem 0 0.5rem 0;
}

.desc-info-details {
  width: 47%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  span {
    padding: 0.5rem 0;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #888;
  }
}

.desc-info-exception {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 1rem 0;
}

.desc-info-details-exception{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  span {
    width: 47%;
    padding: 0.5rem 0;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #888;
  }
}

.title-sections {
  padding: 0 1rem;

  span {
    font-size: 16px;
    font-weight: 600;
  }
}

.evolution-card {
  display: flex;
  margin-bottom: 16px;
}

.evo-content {
  display: flex;
  align-items: center;
}

.evo-image {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-right: 16px;
}

.evo-info {
  flex: 1;
}

.evo-id {
  font-weight: bold;
  font-size: 14px;
  color: #888;
}

.evo-name {
  font-size: 18px;
  font-weight: bold;
  margin: 4px 0;
}

.evo-types {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}


.gender-bar {
  display: flex;
  height: 10px;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 4px 0;
  background-color: #ddd;
}

.male {
  background-color: #4a90e2;
  height: 100%;
}

.female {
  background-color: #f48fb1;
  height: 100%;
}

.gender-labels {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-top: 2px;
}

.label-male {
  color: #4a90e2;
}

.label-female {
  color: #f48fb1;
}