.pokemon-card {
  border-radius: 16px;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-direction: row;
  padding: 0;
  height: 140px;
}

.pokemon-info {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokemon-id {
  font-size: 14px;
  color: #000;
  font-weight: 600;
}

.pokemon-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 4px;
  color: #000;
}

.pokemon-types {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.pokemon-image-box {
  width: 150px;
  min-width: 150px;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 5px;
  border-radius: 12px;
}

.pokemon-img {
  width: 60%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.heart-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background: #d9d9d9;
  backdrop-filter: blur(6px);
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}

.heart-icon {
  font-size: 24px;

  &.favorite {
    color: #ff0000;
  }

  &:not(.favorite) {
    color: #fff;
  }
}

.type-badge {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 8px;
}

.type-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}