<ion-card [ngStyle]="{ 'background-color': mainTypeColor(mainType, 'light') }" class="pokemon-card">
  <ion-card-content class="card-content">
    
    <div class="pokemon-info">
      <div class="pokemon-id">{{ formattedId }}</div>
      <div class="pokemon-name">{{ name | titlecase }}</div>
      <div class="pokemon-types">
        <ion-badge *ngFor="let type of types" [ngStyle]="{ 'background-color': mainTypeColor(type, 'dark') }">
          {{ type | titlecase }}
        </ion-badge>
      </div>
    </div>

    <div 
      class="pokemon-image-box"
      [ngStyle]="{
        'background-color': mainTypeColor(mainType, 'dark'),
        'background-image': 'url(assets/svg/pokeball_simple.svg)',
        'background-repeat': 'no-repeat',
        'background-position': 'center',
        'background-size': 'cover'
      }"
    >

      <ion-icon name="heart-outline" class="heart-icon"></ion-icon>

      <img [src]="imageUrl" [alt]="name" *ngIf="imageUrl; else fallback" class="pokemon-img" />
      <ng-template #fallback>
        <p>Imagem não disponível</p>
      </ng-template>
    </div>
  </ion-card-content>
</ion-card>
