<ion-card
class="pokemon-card"
(click)="onCardClick()"
[ngStyle]="{ 'background-color': mainTypeColor(mainType, 'light') }"
>
  <ion-card-content class="card-content">
    <div class="pokemon-info">
      <div class="pokemon-id">{{ formattedId }}</div>
      <div class="pokemon-name">{{ name | titlecase }}</div>
      <div class="pokemon-types">

        <ion-badge *ngFor="let type of types" class="type-badge"
          [ngStyle]="{ 'background-color': mainTypeColor(type, 'dark')}">
          <img [src]="getTypeIconUrl(type)" alt="{{ type }}" class="type-icon" />
          {{ type | titlecase }}

        </ion-badge>
      </div>
    </div>

    <div class="pokemon-image-box" [ngStyle]="{
        'background-color': mainTypeColor(mainType, 'dark'),
        'background-image': 'url(' + getTypeIconUrl(mainType) + ')',
        'background-repeat': 'no-repeat',
        'background-position': 'center',
        'background-size': '90%',
      }">

      <ion-icon
        [name]="isFavorite ? 'heart' : 'heart-outline'"
        (click)="onToggleFavorite($event)"
        class="heart-icon"
      >
      </ion-icon>

      <!-- <img src="../../../assets/svg/Property 1=Default.svg" alt="heart" class="heart-icon"/> -->

      <img [src]="imageUrl" [alt]="name" *ngIf="imageUrl; else fallback" class="pokemon-img" />
      <ng-template #fallback>
        <p>Imagem não disponível</p>
      </ng-template>
    </div>
  </ion-card-content>
</ion-card>