<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pokédex</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar
      (ionInput)="handleInput($event)"
      placeholder="Search Pokémon"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" #page>  
  <div class="filter-box">
    <ion-button
      class="button-filter-type"
      expand="block"
      (click)="openTypeFilterModal()"
    >
      Filter type
    </ion-button>

    <ion-button
      class="button-filter-type"
      expand="block"
      (click)="openOrderFilterModal()"
    >
      Filter order
    </ion-button>
  </div>

  <app-pokemon-card
    *ngFor="let pokemon of filteredPokemons"
    [id]="pokemon.id"
    [name]="pokemon.name"
    [types]="pokemon.types"
    [imageUrl]="pokemon.image"
    [isFavorite]="isFavorite(pokemon.name)"
    (toggleFavorite)="toggleFavorite($event)"
    (click)="goToDetail(pokemon.name)"
  >
  </app-pokemon-card>
</ion-content>